%div{:class => "container_12"}
  %div{:class => "grid_12 alpha", :style => "height:50px; font-size:12px;line-height:48px; background-color:#fff; color: #666666; border-color: #cdd0d2; border-style: solid; border-width: 0px 1px 1px 1px;"}
    %div{:class => "grid_3 alpha brief-candidate-name", :style => "padding-left: 30px;"}
      = link_to_choice(choice.name, choice)
    %div{:class => "grid_1"}
      = pretty_percent(choice.percent)
    %div{:class => "grid_1"}
      = choice.votes_count
    %div{:class => "grid_3", :style => "margin-top: 13px;"}
    %div{:class => "grid_3 omega", :style => "text-align:right; padding-right: 30px; margin-top: 13px;"}
      %span{:class => "global-sprites small-button vote-button", :data => { :tag => choice.handle }}
