<div class="container_12">
  <%= render :partial => "choices/show", :collection => @choices[0..7], :as => :choice -%>
</div>

<div class="container_12">
	<div class="grid_12 alpha" style="height:50px; font-size:12px;line-height:48px; background-color:#e5e7e8; color: #666666; -moz-border-radius: 8px 8px 0px 0px; -webkit-border-radius: 8px 8px 0px 0px; border: 1px #cdd0d2 solid; font-weight: 700; background: -webkit-gradient(linear, left top, left bottom, from(#ecedee), to(#e8eaeb)); background: -moz-linear-gradient(top,  #ecedee,  #e8eaeb);">
		<div class="grid_3 alpha" style="padding-left: 30px;">Other Candidates</div>
		<div class="grid_1">%</div>
		<div class="grid_1">Supporters</div>
	</div>
</div>	

<%= render :partial => "choices/show_brief", :collection => @choices[8..@choices.size], :as => :choice -%>

