%div{:class => "poli-container"}
  %div{:class => "profile-image"}
    = link_to_choice(image_tag(choice_image_url(@choice), :size => '206x206'), @choice)
  %ul
    %li{:class => "candidate-name"}
      = link_to_choice(@choice.name, @choice)

%ul{:class => 'voter-list'}
  = render :partial => "votes/voter_row", :collection => @votes, :as => :vote