<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>SF Mayor</title>

  <script type="text/javascript" src="http://use.typekit.com/vyb2qvb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="icon" href="images/global/favicon.png" type="image/png">


  <link rel="stylesheet" href="stylesheets/grid.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/homepage.css" type="text/css" />

  	<script src="js/cufon-yui.js" type="text/javascript"></script>
	<script src="js/Univers_300.font.js" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('.percentage'); // Requires a selector engine for IE 6-7, see above
		Cufon.replace('.candidate-name');
	</script>
	
</head>
<body>

	<div class="container_12">
		<div class="grid_12 alpha">
			<div id="logo"><img src="images/logo.png" /></div>
			<h1>Who do you want as the next SF Mayor?</h1>
			<h2>Tweet using #vote4 #sfmayor and the name of your candidate and we’ll tabulate all results here</h2>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_12 alpha">
			<form method="get" id="searchform" action="http://www.ddd.com/">
			<fieldset class="search">
				<input type="text" class="box" value="#vote4 #sfmayor (#name of your candidate)"/>
				<button class="global-sprites btn" title="Submit Search"></button>
			</fieldset>
			</form>
		</div>
	</div>
	
	
	<div class="container_12">
		<div class="grid_3 alpha">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow">1</span></div>

				<div class="profile-image">
					<img src = "images/politician-chiu.jpg" />
				</div>
				<ul>
					<li class="candidate-name">David Chiu</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #davidchiu</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">2</span></div>

				<div class="profile-image">
					<img src = "images/politician-harrington.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Ed Harrington</li>
					<li class="percentage" id="special-red">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<span class="global-sprites vote-confirm">you voted for them!</span>
				</div>
			</div>
		</div>
	
		<div class="grid_3">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">3</span></div>

				<div class="profile-image">
					<img src = "images/politician-peskin.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Aaron Peskin</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #peskin</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3 omega">
			<div class="poli-container">			
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">4</span></div>

				<div class="profile-image">
					<img src = "images/politician-leno.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Mark Leno</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #leno</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3 alpha">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">5</span></div>

				<div class="profile-image">
					<img src = "images/politician-dufty.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Bevan Dufty</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #dufty</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3">
			<div class="poli-container">			
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">6</span></div>

				<div class="profile-image">
					<img src = "images/politician-herrera.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Dennis Herrera</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #herrera</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">7</span></div>

				<div class="profile-image">
					<img src = "images/politician-campos.jpg" />
				</div>
				<ul>
					<li class="candidate-name">David Campos</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #campos</span></a>
				</div>
			</div>
		</div>
	
		<div class="grid_3 omega">
			<div class="poli-container">
				<div class="eyebrow-container"><span class="global-sprites eyebrow gray">8</span></div>

				<div class="profile-image">
					<img src = "images/politician-mirkarimi.jpg" />
				</div>
				<ul>
					<li class="candidate-name">Ross Mirkarimi</li>
					<li class="percentage">23%</li>
					<li class="global-sprites line"></li>
					<li class="supporters">238 supporters</li>
				</ul>
				<ul class="twitter-profiles">
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
					<li><img src="images/portrait_mini.jpg" /></li>
				</ul>

				<div class="vote-button-container">
					<a href=""><span class="global-sprites vote-button">vote for #mirkarimi</span></a>
				</div>
			</div>
		</div>
	
	</div>


	<div class="container_12">
		<div class="grid_12 alpha" style="height:50px; font-size:12px;line-height:48px; background-color:#e5e7e8; color: #666666; -moz-border-radius: 8px 8px 0px 0px; -webkit-border-radius: 8px 8px 0px 0px; border: 1px #cdd0d2 solid; font-weight: 700; background: -webkit-gradient(linear, left top, left bottom, from(#ecedee), to(#e8eaeb)); background: -moz-linear-gradient(top,  #ecedee,  #e8eaeb);">
			<div class="grid_3 alpha" style="padding-left: 30px;">Other Candidates</div>
			<div class="grid_1">%</div>
			<div class="grid_1">Supporters</div>
		</div>
	</div>	

	<div class="container_12">
		<div class="grid_12 alpha" style="height:50px; font-size:12px;line-height:48px; background-color:#fff; color: #666666; border-color: #cdd0d2; border-style: solid; border-width: 0px 1px 1px 1px;">
			<div class="grid_3 alpha" style="padding-left: 30px;">Martin Havlat</div>
			<div class="grid_1">0.1%</div>
			<div class="grid_1">1</div>
			<div class="grid_3" style="margin-top: 13px;"><img src ="images/portrait_mini.jpg" /></div>
			<div class="grid_3 omega" style="text-align:right; padding-right: 30px; margin-top: 13px;"><a href=""><span class="global-sprites small-vote-button"></span></a></div>
		</div>
	</div>	

	<div class="container_12">
		<div class="grid_12 alpha" style="height:50px; font-size:12px;line-height:48px; color: #666666;  border-color: #cdd0d2; border-style: solid; border-width: 0px 1px 1px 1px; border-top: 1px #fff solid; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f7f9)); background: -moz-linear-gradient(top,  #f8f8f8,  #f4f7f9);">
			<div class="grid_3 alpha" style="padding-left: 30px;">Thomas Vanek</div>
			<div class="grid_1">0.1%</div>
			<div class="grid_1">1</div>
			<div class="grid_3" style="margin-top: 13px;"><img src ="images/portrait_mini.jpg" /></div>
			<div class="grid_3 omega" style="text-align:right; padding-right: 30px; margin-top: 13px;"><a href=""><span class="global-sprites small-vote-button"></span></a></div>
		</div>
	</div>

	<div class="container_12">
		<div class="grid_12 alpha" style="height:50px; font-size:12px;line-height:48px; background-color:#fff; color: #666666;  border-color: #cdd0d2; border-style: solid; border-width: 0px 1px 1px 1px; border-top: 1px #fff solid; -moz-border-radius: 0px 0px 8px 8px; -webkit-border-radius: 0px 0px 8px 8px;">
			<div class="grid_3 alpha" style="padding-left: 30px;">Martin Havlat</div>
			<div class="grid_1" id="special-red">0.1%</div>
			<div class="grid_1">1</div>
			<div class="grid_3" style="margin-top: 13px;"><img src ="images/portrait_mini.jpg" /></div>
			<div class="grid_3 omega" style="text-align:right; padding-right: 30px; margin-top: 13px;"><span class="global-sprites small-vote-confirm"></span></div>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_12 footer">©2010 by <a href="http://www.participantlabs.com/">Participant Labs</a></div>
	</div>
	
	<script type="text/javascript"> Cufon.now(); </script>


</body>
</html>
